:root{
    --font-color: rgb(32, 32, 32);
    --bg-color: rgb(247, 247, 247);
    --form-bg-color: white;
    --padding-left: 35px;
    --button-color: rgb(163, 151, 40);
}

@font-face{
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf");
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

#content{
    display: flex;
    height: 100vh;
    width: 100vw;
}


#logo-container{
    width: max(40vw,280px);
    background: center / cover no-repeat url("./images/norse_mountains.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 10px;
    flex: 0 0 auto;
    color: white;
}

#logo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    gap: 15px;
}

#logo img{
    width: 80px;
    height: auto;
}

#logo p{
    font-size: 6rem;
    font-family: "Norse-Bold";
}

#picture-credits{
    justify-self: flex-end;
    font-size: 12px;
}

#picture-credits a{
    color: white;
}

#form-container{
    flex-shrink: 0;
    width: max(60vw, 420px);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: var(--bg-color);
}

#form-container .title-text{
    font-size: 26px;
    font-weight: bold;
    padding-right: 60px;
}

#form-container p,
#form-inputs{
    padding-left: var(--padding-left);
}

#form-container button{
    margin-left: var(--padding-left);
}

#form-container form legend{
    font-size: 26px;
    font-weight: bold;
}

#form-inputs{
    background-color: var(--form-bg-color);
    padding-top: 25px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 15px -15px black;
}

#form-inputs .row{
    display: flex;
    gap: 60px;
}

#form-inputs .row-item{
    display: flex;
    flex-direction: column;

}

#form-inputs .row-item label{
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
}

#form-inputs input{
    font-size: 16px;
    width: 275px;
    height: 25px;
    padding-left: 2px;
}

button{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: var(--button-color);
    padding: 15px 35px;
    border-radius: 5px;
    border-style: none;
}

#form-container a{
    color: var(--button-color);
    font-weight: bold;
}

