@font-face{
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf");
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

#content{
    display: flex;
    height: 100vh;
    width: 100vw;
}


#logo-container{
    width: max(40vw,280px);
    background: center / cover no-repeat url("./images/norse_mountains.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20vh;
    padding-bottom: 10px;
    flex: 0 0 auto;
    color: white;
}

#logo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    gap: 15px;
}

#logo img{
    width: 80px;
    height: auto;
}

#logo p{
    font-size: 6rem;
    font-family: "Norse-Bold";
}



#picture-credits{
    justify-self: flex-end;
}

#picture-credits a{
    color: white;
}

#form-container{
    flex-shrink: 0;
    width: max(60vw, 420px);
}